.navbar {
    justify-content: center !important;
    background-color: white !important;
}

.navbar .navbar-nav {
    gap: 20px !important;
}

.home-box, .not-found-box {
    max-width: 45em;
}

main.home, main.not-found{
    height: 90vh;
}

.home-box > * {
    margin: 0 0 20px 0 !important;
}

.not-found-box > * {
    margin: 0 0 40px 0 !important;
}

